<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HostName" value="net.tcp://localhost:802/Core.Monitor.Service/MonitorService.svc" />
    <!--<add key="EntityModel" value="Data Source=WIN-HJ8MKL02ETR\COREDB;Initial Catalog=COREDB;Integrated Security=True;" />-->
    <add key="Trace" value="true" />
  </appSettings>
</configuration>