<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  	<appSettings>
		<add key="EntityModel" value="Data Source=WIN-HJ8MKL02ETR\COREDB;Initial Catalog=COREDB;Integrated Security=True;" />
		<add key="AppNameMonitor" value="MonitorServices" />
    <add key="TraceON" value="true" />
    <add key="LogType" value="CORE_DB" /> <!-- APP_FABRIC | CORE_DB-->
	</appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime />
  </system.web>
  <system.serviceModel>
    <bindings>
      <mexHttpBinding>
        <binding name="mexBinding" />
      </mexHttpBinding>
      <mexTcpBinding>
        <binding name="mexTcpBinding" />
      </mexTcpBinding>
      <webHttpBinding>
        <binding name="httpDefaultBinding" closeTimeout="00:05:00" openTimeout="00:01:00" receiveTimeout="00:05:00" sendTimeout="00:05:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </webHttpBinding>
      <netTcpBinding>
        <binding name="DefaultBinding" closeTimeout="00:05:00" openTimeout="00:01:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" transactionFlow="true" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="100" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="100" maxReceivedMessageSize="2147483647" portSharingEnabled="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="eBehavior0">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="standard">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceThrottling maxConcurrentCalls="100" maxConcurrentSessions="100" maxConcurrentInstances="100" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <etwTracking profileName="Troubleshooting Tracking Profile" />
        </behavior>
                <behavior name="">
                    <sqlWorkflowInstanceStore instanceCompletionAction="DeleteAll" instanceEncodingOption="None" instanceLockedExceptionAction="NoRetry" connectionStringName="ApplicationServerWorkflowInstanceStoreConnectionString" hostLockRenewalPeriod="00:00:30" runnableInstancesDetectionPeriod="00:00:05" />
                    <serviceMetadata httpGetEnabled="true" />
                    <etwTracking profileName="ErrorsOnly Tracking Profile" />
                </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="standard" name="Core.Monitor.Service.Monitor">
        <endpoint address="" behaviorConfiguration="eBehavior0" 
                  binding="wsHttpBinding" 
                  contract="Core.Monitor.Service.MonitorContract" />
        <endpoint address="mex" behaviorConfiguration="eBehavior0" 
                  binding="mexHttpBinding" 
                  contract="IMetadataExchange" />
        <endpoint address="net.tcp://localhost:802/Core.Monitor.Service/MonitorService.svc" 
                  behaviorConfiguration="eBehavior0" 
                  binding="netTcpBinding" 
                  bindingConfiguration="DefaultBinding" 
                  contract="Core.Monitor.Service.MonitorContract" />
        <!--<endpoint address="net.tcp://localhost:802/Core.Monitor.Service/mex"
          behaviorConfiguration="eBehavior0" binding="mexTcpBinding" bindingConfiguration=""
          contract="IMetadataExchange" />-->
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/Core.Monitor.Service" />
            <add baseAddress="net.tcp://localhost:802/Core.Monitor.Service" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment />
    <diagnostics etwProviderId="fabf8da0-37b4-4ecb-b8d2-5e14e6044667">
      <endToEndTracing propagateActivity="false" messageFlowTracing="false" />
            <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="3000" />
    </diagnostics>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>
  <microsoft.applicationServer>
    <monitoring>
      <default enabled="true" connectionStringName="ApplicationServerMonitoringConnectionString" monitoringLevel="ErrorsOnly" />
    </monitoring>
  </microsoft.applicationServer>
    <system.diagnostics>
        <sources>
            <source propagateActivity="true" name="System.ServiceModel" switchValue="Error, ActivityTracing">
                <listeners>
                    <add name="AppFabricTracing" />
                </listeners>
            </source>
            <source propagateActivity="true" name="System.Activities" switchValue="Error, ActivityTracing">
                <listeners>
                    <add name="AppFabricTracing" />
                </listeners>
            </source>
            <source name="System.ServiceModel.MessageLogging">
                <listeners>
                    <add name="AppFabricMessageLogging" />
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add name="AppFabricTracing" initializeData="C:\inetpub\wwwroot\wcfMonitorService.svclog" type="System.Diagnostics.XmlWriterTraceListener" />
            <add name="AppFabricMessageLogging" initializeData="C:\inetpub\wwwroot\wcfMonitorServiceMsg.svclog" type="System.Diagnostics.XmlWriterTraceListener" />
        </sharedListeners>
    </system.diagnostics>
    <connectionStrings>
        <remove name="ApplicationServerMonitoringConnectionString" />
        <remove name="ApplicationServerWorkflowInstanceStoreConnectionString" />
        <remove name="LocalSqlServer" />
        <add connectionString="Data Source=WIN-HJ8MKL02ETR\COREDB;Initial Catalog=COREDB;Integrated Security=True;Connection Timeout=3000" name="ApplicationServerMonitoringConnectionString" />
    </connectionStrings>
</configuration>